<div id="controls">

	<div id="inside-controls">
	
		<div class="icon">
			Edytuj Slidery
			<%= image_tag ("/system/controls/slider-icon.png") %>
		</div>

		<div class="icon">
			Edytuj Pudełka
			<%= image_tag ("/system/controls/box-icon.png") %>
		</div>
		
		<div class="icon">
			Edytuj Bloga
			<%= image_tag ("/system/controls/blog-icon.png") %>
		</div>
		
		<div class="icon">
			Edytuj Dania
			<%= image_tag ("/system/controls/dish-icon.png") %>
		</div>
		
	</div>
</div>