<div id="boxes">

	<div class="box-img">
	
		<div class="box-img-text">
		
			<div class="box-img-subtitle">
				Mówią że
			</div>
		
			<div class="box-img-title">
				Promocja Dobra!
			</div>
			
		</div>
		
	</div>
	
	<div class="box-img">
	
		<div class="box-img-text">
		
			<div class="box-img-subtitle">
				Sprawdź czy
			</div>
		
			<div class="box-img-title">
				To Ta Dobra?
			</div>
			
		</div>
		
	</div>
	
	<div class="box-img">
		<div class="box-img-text">
		
			<div class="box-img-subtitle">
				My gotujemy
			</div>
		
			<div class="box-img-title">
				Tylko Smaczne Jedzenie
			</div>
			
		</div>
		
	</div>
	
</div>
