<div id="content-index">
	
	<div id="content-main">
		
		<div class="content-box">
			
			<div class="content-box-divider"></div>
			
			<div class="content-box-title">
				<b>Menu</b>
			</div>
			
			
			<div class="content-box-field">
				<ul>
					<% @categories.each do |c| %>
						<li><%= link_to c.rodzaj, dishes_index_url(c.rodzaj) %></li>
					<% end %>
				</ul>
			</div>
		
		</div>
		
		<div class="content-box">
		
			<div class="content-box-divider"></div>
			
			<div class="content-box-title">
				<b>Pizzeria Golomp</b>
			</div>
			
			<div class="content-box-field">
				<ul>
					<li>Doświadczenie</li>
					<li>O nas</li>
					<li>Kontakt</li>
				</ul>
			</div>
			
		</div>
		
		<div class="content-box">
		
			<div class="content-box-divider"></div>
		
			<div class="content-box-title">
				<b>Promocje:</b>
			</div>
			
			<div class="content-box-field">
				<ul>
				<% @promotions.each do |p| %>
					<li><%= link_to p.tytul, post_url(p.id) %></li>
				<% end %>
				</ul>
			</div>
			
		</div>
		
	</div>

</div>