<div id="places">
	<div id="places-title">
		<b>Nasze placowki:</b>
	</div>
	
	<div id="places-content">
		<div class="address-city">Poznań - Rataje</div><div class="address-street">ul. Leśna 32</div>
		<div class="address-city">Poznań - Grunwald</div><div class="address-street">ul. Grunwaldzka 99</div>
		<div class="address-city">Poznań - Smochowice</div><div class="address-street">ul. Komornicza 2</div>
	</div>
</div>
