<div class="my-slider">
	<div class="my-slider-box" style="background-image:url('http://www.pizza-express.pl/banners/57a3265498aef.jpg');">
	
		<div class="my-slider-buttons">
		
			<div class="my-slider-button-left">
				<img src="http://iconshow.me/media/images/ui/ios7-icons/png/512/chevron-left.png">
			</div>
			
			<div class="my-slider-button-right">
				<img src="http://image.flaticon.com/icons/svg/60/60758.svg">
			</div>
		

			
		</div>
		
	</div>
</div>