#boxes {
width:65%;
height: 25vh;
margin:auto;
margin-top:20px;
margin-bottom:20px;
}

.box-img {
width: 33%;
height:100%;
display: inline-block;
background-image:url("https://ocs-pl.oktawave.com/v1/AUTH_876e5729-f8dd-45dd-908f-35d8bb716177/amrest-web-ordering/img/PH/Web/Banery/kafelekW5.jpg");
background-size:100% 100%;
background-repeat:no-repeat;
box-shadow:0 2px 6px 0 rgba(2,2,2,0.47);
}

.box-img-text {
height:35%;
width:100%;
background: rgba(0, 0, 0, 0.45);
color:#1abc9c;
position:relative;
top:65%;
padding-left:7px;
text-shadow:1px 1px black;
}

.box-img-title {
font-size:2em;
text-transform:capitalize;
}

.box-img-subtitle {
font-size:1.5em;
}
